
header {
    display: flex;
    width:auto;
    font-size: 13px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    color:rgba(0,0,0,0.87);

}
a {
    opacity: 0.75;
    color: #000;
    text-decoration-line: none;
    text-decoration-style: solid; 

}

.box{
    padding: 10px;
}
.box3 {

margin-left: auto;
}
#sign-in-button{
    border: 1px solid #4285f4;
    font-weight: bold;
    color:#fff;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    /* display: inline-block; */
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#logo {
display: flex;
justify-content: center;
padding-top: 138px;
margin-bottom: 35px;
}

#search-bar{
    border-width: 1px;
    border-color: #000;
    opacity: 0.25;
    border-style: solid;
    border-radius: 60px;
    width: 484px;
    height: 47px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.box7 {
    padding-right: 5px;
}
.box9 {
    padding-left: 5px;
}
#search-bar-input{
border-right-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-top-width: 0px;
width: 387px
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 33px;
}
.btn {
    color: rgb(95, 99, 104);
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-width: 0px;
    border-radius: 4px;
    width: 135px;
    height: 34px;
    margin-right: 16px;
}