body{
    position: relative;
    min-height: 98vh;
}
header {
    display: flex;
    width:auto;
    font-size: 13px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    color:rgba(0,0,0,0.87);

}
a {
    opacity: 0.75;
    color: #000;
    text-decoration-line: none;
    text-decoration-style: solid; 
    /* padding: 10px; */
    /* margin:10px; */
}

.box{
    padding: 10px;
}
.box3 {

margin-left: auto;
}
#sign-in-button{
    border: 1px solid #4285f4;
    font-weight: bold;
    color:#fff;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}
#logo {
display: flex;
justify-content: center;
padding-top: 138px;
margin-bottom: 28px;
}

#search-bar{
    border-width: 1px;
    border-color: #000;
    opacity: 0.25;
    border-style: solid;
    border-radius: 60px;
    width: 584px;
    height: 44px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.box7 {
    padding-right: 5px;
}
.box9 {
    padding-left: 5px;
}
#search-bar-input{
border-right-width: 0px;
border-left-width: 0px;
border-bottom-width: 0px;
border-top-width: 0px;
width: 488px
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 33px;
}
.btn {
    color: rgb(95, 99, 104);
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-width: 0px;
    border-radius: 4px;
    width: 135px;
    height: 34px;
    margin-right: 16px;
}
footer{
background-origin: padding-box;
background-size: auto;
background-clip: border-box;
border-top-color:rgb(228, 228, 228);
border-top-style:solid;
border-top-width:1px;
    font-size: 14px;
    position: absolute;
    bottom: -10px;
    width: 100%;
    color: rgb(34, 34, 34);
    background-color: rgb(242, 242, 242);
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    /* padding:10px; */
}

.ftr-right a{ 
        color: #5f6368;
        text-decoration-color: #5f6368;
        font-size: 14px;
        font-family: arial;
        opacity: 1;
        margin: 10px;
     }
     .ftr-left a{ 
        color: #5f6368;
        text-decoration-color: #5f6368;
        font-size: 14px;
        font-family: arial;
        opacity: 1;
        margin: 10px;
     }